@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700';

body {
  font-family: "Noto Sans", sans-serif;
  background: #ffe;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav li {
  padding: 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.email, .github {
  margin-left: 3px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
