@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700';

* {
    margin: 0;
    padding: 0;
}

title {
    display: none;
}

body {
    background-color: #ffe;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.meta {
    flex-direction: column;    
}

ul {
    display: flex;
    list-style-type: none; 
}

li {
    padding: 0 10px;
}

a {
    font-family: 'Noto Sans', sans-serif; 
    text-decoration: none;
    color: #222;
    font-size: 1rem; 
    padding: 3px;
}

nav a:hover {
    background-color: #111; 
    color: #fff;
    cursor: pointer;
}


/* nav */
nav a {
    font-weight: 700;
    text-transform: uppercase;
}

/* Meta */
.meta ul {
    flex-direction: column;
}
.meta a {
    color: #555;
}

.meta a:hover {
    text-decoration: underline;
}
