html {
    font-family: 'Playfair Display', serif;
    color: lighten($black, 40%);
    font-size: 35%;

    @include media($small-screen) {
        font-size: 50%;
    }

    @include media($medium-screen) {
        font-size: 62.5%;
    }
}

h1,h2,h3 {
    color: $black;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 10rem 0 5rem 0;
}

p {
    font-size: 4rem;
    line-height: 4.8rem;
}

a {
    color: lighten($black, 40%);
    text-decoration: none;
    font-weight: 700;
}