@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";

@import "variables";
@import "typography";

body {   
    background-color: $white;
    padding: 2rem;
    @include outer-container;
}

#name {
    font-weight: 800;
    font-size: 10rem;
    line-height: 10rem;
    color: $black;
}

#code {color: $teal;}
#write {color: $pink;}
#read {color: $green;}
#make {color: $orange;}
#talks {color: $purple;}
#play {font-weight: 400;}

#code:hover {font-family: "Lucida Console", Monaco, monospace;}

@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: black    
    }    
}    

#write:hover {
    padding-right: 2px;
    border-right:1px solid black;
    animation: borderBlink 1s step-end infinite;  
}

#read:hover {text-decoration: underline;}
#talks:hover {font-size: 5rem;}
#make:hover {color: lighten($orange, 20%)}

#flappyjet {
    .close-flappyjet {
        position: absolute;
        top: 20px;
        right: 20px;
    }   
    .closebt {
	      -webkit-transition: all 0.2s;
	      -moz-transition: all 0.2s;
	      -ms-transition: all 0.2s;
	      -o-transition: all 0.2s;
	      transition: all 0.2s;
	      cursor:pointer;
    }

    .closebt:hover {
	      transform:rotate(90deg);
    }
}