@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";

@import "variables";
@import "typography";

body {   
    background-color: $white;
    padding: 2rem;
    @include outer-container;
}

#name {
    font-size: 10rem;
    line-height: 8.5rem;
    color: $black;
}

#code {
    color: $teal;
}

#write {
    color: $pink;
}

#read {
    color: $green;
}

#make {
    color: $orange;
}

#play {
    font-weight: 400;
}

#flappyjet {
    .close-flappyjet {
        position: absolute;
        top: 20px;
        right: 20px;
    }   
    .closebt {
	      -webkit-transition: all 0.2s;
	      -moz-transition: all 0.2s;
	      -ms-transition: all 0.2s;
	      -o-transition: all 0.2s;
	      transition: all 0.2s;
	      cursor:pointer;
    }

    .closebt:hover {
	      transform:rotate(90deg);
    }
}