$baseurl: '{{ site.baseurl }}';
$grey-color: #828282;

@import 'tufte';
@import 'susy';

body {
    background: none;
}

$susy: (
  columns: 12,
  gutters: 1/10,
  math: fluid,
  output: float,
  gutter-position: inside,
);


.desc {
    font-style: italic;
}

article {
    padding: 15px 0;
    width: 55%;
    @media (max-width: 760px) {
        width: 80%;
    }
}

p {
    width: 100%;
}

.meta__year {
    float: right;

    @media (max-width: 760px) {
        float: none;
        display: block;
    }
}

.works-list {
    width: 70%;
    list-style-type: none;
    max-width: 70%;

    article {
        @include span(1 of 3);
        text-align: center;

        @media (max-width: 760px) {
            @include span(1 of 2);
        }
    }
}

.works__desc {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.works__tech {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
}

.skills {
    width: 70%;
    max-width: 70%;
}

.lang, .frameworks {
    @include span(3 of 6);
    @media (max-width: 760px) {
        @include span (1 of 1);
    }
}

.skill__gallery {
    width: 100%;
}

.skill__gallery__item {
    @include span(1 of 3);
    text-align: center;
    p {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
}

a.marginnote {
    background: none;
}