---
layout: default
---

<main>
  <h1>Articles</h1>
  <ol class="article-list" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    {% for post in site.posts %}
    <li>
      <h2 class="article-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
      <div class="post-meta">
        <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
      </div>
    </li>
    {% endfor %}
  </ol>
</main>

{% include footer.html %}
